:root {
  --font-color: #f0f6fc;
  --background-color: #0d1117;
  --font-family: Roboto;
  --menu-item: pink;
  --menu-item-hover: hotpink;
}

* {
  box-sizing: border-box;
}

body {
  margin-left: auto;
  margin-right: auto;
  min-width: 375px;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: var(--font-color);
  background-color: var(--background-color);
  font-family: var(--font-family);
}

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

h1 {
  padding: 0;
  display: flex;
  justify-content: center;
  /* flex: 1; */
}

nav {
  padding: 0;
  display: flex;
  /* flex-direction: row; */
  /* justify-content: flex-end; */
  /* align-items: center; */
  flex: 3;
}

ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: bold;
  flex: 1;
  list-style: none;
  gap: 0.2rem;
}

li {
  width: 100%;
}

section {
  border: 1px solid black;
  border-radius: 1rem;
  margin: 1rem;
  padding: 1rem;
}

.repo-details {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  border: none;
}

#image {
  width: 18rem;
  height: fit-content;
}

.portfolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  gap: 10px;
}

#description {
  height: 6rem;
  flex: 3;
}
.portfolio-heading,
.button-wrapper,
#title,
#link {
  flex: 1;
}

.menu-item {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-width: 6rem;
  padding: 0.4rem;
  background-color: var(--menu-item);
  border: 1px solid gray;
}

.menu-item:hover {
  background-color: var(--menu-item-hover);
}

@media screen and (min-width: 600px) {
  body {
    max-width: 1200px;
  }
  header {
    flex-direction: row;
    justify-content: center;
  }
  h1 {
    justify-content: left;
  }
  ul {
    flex-direction: row;
    justify-content: flex-end;
    flex: 3;
  }
  li {
    width: 6rem;
  }
  .repo-details {
    flex-direction: row;
  }
}
