:root {
    --font-color: #0d1117;
    --background-color: hsl(210, 6%, 80%);
    --font-family: Roboto;
    --menu-item: #f0f6fc;
    --menu-item-hover: #bfc4c9;
    --menu-transition: ;
    --transition: all 0.3s linear;
}

* {
    box-sizing: border-box;
}

body {
    margin-left: auto;
    margin-right: auto;
    min-width: 375px;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: var(--font-color);
    /* background-color: var(--background-color); */
    font-family: var(--font-family);
    overflow-x: hidden;
}

header {
    background-color: #f0f6fc;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    box-shadow: -5px 5px 10px#0d1117;
    top: 0;
    position: fixed;
}

main {
    padding-top: 3rem;
    background: linear-gradient(45deg, purple, rgb(255, 159, 241));
}

h1 {
    color: #0d1117;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    /* flex: 1; */
}

.menu {
    padding: 0;
    display: flex;
    justify-content: center;
    height: 0px;
    overflow: hidden;
    transition: var(--transition);
}

#menu-button {
    right: 1rem;
    position: fixed;
    align-self: center;
    height: 3rem;
}

.links {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    flex: 1;
    list-style: none;
    gap: 0.2rem;
    height: min-content;
    font-variant: t;
}

li {
    width: 100%;
    height: 3rem;
}

section {
    border-bottom: 1px solid black;
    padding: 1em;
    height: 100vh;
}

.repo-details {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    border: none;
    height: 18rem;
}

#image {
    /* width: 18rem; */
    /* height: fit-content; */
    align-self: center;
    /* flex: 2; */
}

.portfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.button-wrapper {
    display: flex;
    justify-content: center;
    gap: 10px;
}

#description {
    height: 8rem;
    flex: 3;
}
.portfolio-heading,
.button-wrapper,
#title,
#link {
    flex: 1;
}

.contacts {
}

.menu-item {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-width: 6rem;
    padding: 0.2rem;
    background-color: var(--menu-item);
    border: none;
    color: #0d1117;
    cursor: pointer;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    min-width: 4rem;
    border-radius: 2rem;
    background-color: #0d1117;
    color: #bfc4c9;
    padding: 1em;
    margin: 0;
    box-shadow: 4px 4px 8px gray;
    transition: var(--transition);
    cursor: pointer;
}
.to-top {
    position: fixed;
    right: 2rem;
    bottom: -8rem;
    box-shadow: 2px 2px 8px black;
}
.button-down {
    border-radius: 0;
    transition: var(--transition);
}

h2 {
    font-size: 1.6rem;
}
h3 {
    font-size: 1.4rem;
}

p {
    font-size: 1.2rem;
    margin: 1em;
}

@media screen and (min-width: 43.75rem) {
    body {
        max-width: 75rem;
    }
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: linear-gradient(45deg, purple, rgb(255, 159, 241));
        width: 100vw;
    }
    section {
        max-width: 75rem;
    }
    header {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    h1 {
        justify-content: left;
        align-items: center;
    }
    .links {
        flex-direction: row;
        justify-content: flex-end;
        /* flex: 3; */
        margin: 0;
    }
    .menu {
        padding: 0;
        height: auto !important;
    }
    .menu-item:hover {
        background-color: var(--menu-item-hover);
        border-radius: 2rem;
        border: 1px solid black;
        transition: border-radius 0.4s;
    }
    li {
        width: 6rem;
        height: 2rem;
        display: flex;
        align-items: center;
    }
    .repo-details {
        flex-direction: row;
        height: 10rem;
    }
    #menu-button {
        display: none;
    }

    .header-mobile {
        min-width: 43.75rem;
        width: 75rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}
